html {
   height: 100%
}

body {
   height: 100%;
   background: #ffeee3 linear-gradient(135deg, rgba(201,171,156,1) 0%, rgba(255,238,227,1) 65%, rgba(255,250,242,1) 100%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}